@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8u6xiw');
  src:  url('fonts/icomoon.eot?8u6xiw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8u6xiw') format('truetype'),
    url('fonts/icomoon.woff?8u6xiw') format('woff'),
    url('fonts/icomoon.svg?8u6xiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crear:before {
  content: "\e915";
}
.icon-partidas:before {
  content: "\e918";
}
.icon-mensajes:before {
  content: "\e96d";
}
.icon-sugerencias:before {
  content: "\e970";
}
.icon-usuario:before {
  content: "\e976";
}
.icon-buscar:before {
  content: "\e986";
}
.icon-salir:before {
  content: "\e9b6";
}
